{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salud & Bienestar</title>
    <link href='https://bootswatch.com/5/journal/bootstrap.min.css' rel='stylesheet'/>
    <link href="{% static 'styles.css' %}" rel='stylesheet'/>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'Home' %}">AppSalud</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Cambiar navegación">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Registro' %}">Registrarse</a>
                    </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Numeros_de_Turnos' %}">Turnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Medicos' %}">Medicos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Matricula' %}">Matriculas</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'Coberturas' %}">Coberturas</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'Especialidades' %}">Especialidades</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'Localidades' %}">Localidades</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'Pacientes' %}">Pacientes</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'Sedesclinicas' %}">Sedes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Logout' %}">Cerrar Sesion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% if request.user.is_authenticated %}
        <p>Hola, {{user.username}}</p>
        <a href="{% url 'Logout' %}">Cerrar Sesión</a>
        {% else %}
        <p>No has iniciado sesión <a href="{% url 'Login' %}">Inicia Sesión aquí</a></p>
        {% endif %}
    </div><br><br><br>

    {% block codigoDinamico %}
    {% endblock %}
</body>
</html>
