{% extends 'AppSalud/base.html' %}

{% load static %}

    {% block title %}
        Añadir Medico
    {% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <br> <br>
        <h1>Añadir un Medico</h1>
        <br> <br>
        <table>
            {{form.as_table}}
        </table>
        <br> <br>
        <div class="container">
            <button type="submit" class="btn btn-outline-success">Añadir Medico</button>
        </div>
    </form>
</div>


{% endblock %}