{% extends "AppSalud/base.html" %}

{% load static %}

{% block title %}
    Salud home
{% endblock title %}

{% block codigoDinamico %}
<header>
    
    
    <div class="pasillo" id="animated-text">
        <h1>Clinica Salud y Bienestar</h1>
        <h3>"Te cuidamos como en casa."</h3> 
    </div>
    {% if request.user.is_authenticated %}

    {% else %}
        <div class="floating-login">
            <div class="inicia">
                No has iniciado!
            </div>
            <button onclick="window.location.href={% url 'Login' %}">Iniciar sesión</button>
            <div class="registrate">
                ¿No tienes cuenta?
            </div>
            <button onclick="window.location.href={% url 'Registro' %}">Registrate</button>
        </div>
        
    {% endif %}
    </header>
<body >
    <div class="carrusel1">
        hola
    </div>
    

<div class="contacto mt-5">

    <h2>Encuentranos</h2>

        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1641.008222064926!2d-58.62384042141412!3d-34.65428763987793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc76781233c85%3A0x26fea164c3f99b15!2sGral.%20Jos%C3%A9%20de%20San%20Mart%C3%ADn%20598-500%2C%20B1708IHL%20Mor%C3%B3n%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1sen!2sar!4v1731351542764!5m2!1sen!2sar"
                width="600" height="450" style="border:0;" 
                allowfullscreen="" loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div> 
</div>

<div class="contacto mt-5">
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Contactanos</h3>

            <form action="{% url 'contacto' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="asunto">Asunto</label>
                    <textarea class="form-control" id="asunto" name="asunto" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
            </form>
        </div>
    </div>
</div>

</body>
<footer class="mt-5">
    <div class="row">
        <div class="col-md-4">
            <h5>Clinica Salud y Bienestar</h5>
            <p>Encuentra los mejores medicos para vos y tu familia </p>
        </div>
        <div class="col-md-4">
            <h5>Enlaces Rapidos</h5>
            <ul>
                <li><a href="{% url 'privacy_policy' %}">Politica de Privacidad</a></li>
                <li><a href="{% url 'terms_conditions' %}">Terminos y condiciones</a></li>
                <p>&copy; <span id="currentYear"></span>Clinica Salud y Bienestar. Todos los derechos reservados</p>
            </ul>
        </div>
        <div class="col-md-4">
            <h5>Redes Sociales</h5>
            <ul>
                <li><a href="facebook.com">Facebook</a></li>
                <li><a href="instagram.com">Instagram</a></li>
            </ul>
        </div>
    </div>
</footer>
{% endblock %}