{% extends 'AppSalud/base.html' %}

{%load static%}

{%block title%}
    Politica de privacidad
{%endblock title%}

{% block codigoDinamico %}
<div class="container">
    <h1>Politica de privacidad</h1>
    

    <h2>1. Introducción</h2>
    <p>Bienvenido a Clinica Salud y Bienestar ("nosotros", "nuestro"). Esta Política de Privacidad explica cómo recopilamos, usamos, compartimos y protegemos la información personal que obtienes cuando utilizas nuestro sitio web y servicios relacionados. Al utilizar nuestro sitio web, aceptas las prácticas descritas en esta política.</p>

    <h2>2. Información que Recopilamos</h2>
    <p><strong>Información Personal:</strong> Recopilamos información personal que nos proporcionas al registrarte en nuestra plataforma, realizar una compra, o contactarnos. Esto incluye tu nombre, dirección de correo electrónico, dirección de envío y detalles de pago.</p>

    <p><strong>Información de Uso:</strong> Recopilamos información sobre cómo utilizas nuestro sitio web, incluyendo tu dirección IP, navegador, páginas visitadas, y el tiempo que pasas en ellas.</p>

    <p><strong>Cookies y Tecnologías Similares:</strong> Utilizamos cookies para mejorar tu experiencia en nuestro sitio web y para analizar el tráfico web.</p>

    <h2>3. Uso de la Información</h2>
    <p>Usamos tu información personal para:</p>
    <ul>
    <li>Procesar y gestionar tus pedidos.</li>
    <li>Enviarte información sobre tus pedidos y actualizaciones.</li>
    <li>Mejorar nuestro sitio web y servicios.</li>
    <li>Enviarte comunicaciones promocionales y boletines informativos, si has dado tu consentimiento.</li>
    </ul>

    <h2>4. Compartición de la Información</h2>
    <p>No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en los siguientes casos:</p>
    <ul>
    <li><strong>Proveedores de Servicios:</strong> Podemos compartir tu información con proveedores de servicios que nos ayudan a operar nuestro negocio, como servicios de pago y envío.</li>
    <li><strong>Requisitos Legales:</strong> Podemos divulgar tu información si lo requiere la ley o en respuesta a procesos legales.</li>
    </ul>

    <h2>5. Seguridad</h2>
    <p>Implementamos medidas de seguridad para proteger tu información personal. Sin embargo, ninguna transmisión de datos por Internet puede ser completamente segura, y no podemos garantizar la seguridad absoluta.</p>

    <h2>6. Derechos del Usuario</h2>
    <p>Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. Puedes hacerlo contactándonos a través de [correo electrónico de contacto].</p>

    <h2>7. Cambios en la Política de Privacidad</h2>
    <p>Podemos actualizar esta política en el futuro. Te notificaremos sobre cualquier cambio mediante la publicación de la nueva política en nuestro sitio web. Te recomendamos revisar esta política periódicamente.</p>

    <h2>8. Contacto</h2>
    <p>Si tienes preguntas sobre esta Política de Privacidad, puedes contactarnos en clinicasaludybienestar1@gmail.com o en San Martin 500.</p>

</div>

{% endblock %}