{% extends 'AppSalud/base.html' %}

{%load static%}

{%block title%}
    Terminos y condiciones
{%endblock title%}

{% block codigoDinamico %}
<div class="container">
    <h1>Terminos y condiciones</h1>


    <h2>1. Aceptación de los Términos</h2>
    <p>Al acceder y utilizar nuestro sitio web y servicios, aceptas cumplir con estos Términos y Condiciones y con nuestra Política de Privacidad. Si no estás de acuerdo con estos términos, no utilices nuestro sitio web.</p>

    <h2>2. Uso del Sitio Web</h2>
    <p><strong>Licencia:</strong> Te otorgamos una licencia limitada, no exclusiva e intransferible para utilizar nuestro sitio web y servicios para fines personales y no comerciales.</p>

    <p><strong>Prohibiciones:</strong> No puedes utilizar nuestro sitio web para actividades ilegales, infringir derechos de propiedad intelectual, o transmitir contenido que sea ofensivo, difamatorio o perjudicial.</p>

    <h2>3. Compra de Productos</h2>
    <p><strong>Precios y Pagos:</strong> Todos los precios están sujetos a cambios y se reflejan en el sitio web. Aceptamos los métodos de pago indicados en el proceso de compra.</p>

    <p><strong>Envío y Entregas:</strong> Nos esforzamos por cumplir con los plazos de entrega, pero no garantizamos fechas exactas. Los gastos de envío son responsabilidad del comprador, a menos que se indique lo contrario.</p>

    <h2>4. Propiedad Intelectual</h2>
    <p>Todo el contenido del sitio web, incluidos los textos, gráficos, logos, imágenes y software, es propiedad de "Clinica salud y bienestar" o de terceros y está protegido por derechos de autor y otras leyes de propiedad intelectual.</p>

    <h2>5. Exención de Responsabilidad</h2>
    <p>Nuestro sitio web y servicios se proporcionan "tal cual" y "según disponibilidad". No garantizamos que el sitio esté libre de errores o interrupciones, ni que la información proporcionada sea precisa o completa. No somos responsables de los daños que puedan resultar del uso del sitio web o de la imposibilidad de utilizarlo.</p>

    <h2>6. Modificaciones del Servicio</h2>
    <p>Nos reservamos el derecho de modificar o interrumpir el sitio web y los servicios en cualquier momento, sin previo aviso.</p>

    <h2>7. Ley Aplicable</h2>
    <p>Estos Términos y Condiciones se rigen por las leyes de [jurisdicción aplicable]. Cualquier disputa relacionada con estos términos se resolverá en los tribunales de [jurisdicción aplicable].</p>

    <h2>8. Contacto</h2>
    <p>Si tienes preguntas sobre estos Términos y Condiciones, puedes contactarnos en clinicasaludybienestar1 o en San Martin 500.</p>

</div>

{% endblock %}