{% extends 'AppSalud/base.html' %}

{% load static %}

{% block title %}
    Buscar Paciente
{% endblock title %}

{% block codigoDinamico %}

<div class="container">
    <br> <br> 
    <form action="" method="get">

        <input type="text" name="nombre_paciente" id="nombre paciente2" 
            placeholder="Nombre del Paciente">
    <br> <br>
        <input type="submit" value="Buscar Paciente por Nombre" class="btn btn-outline-info">
    </form>

    <br><br>

    {% if pacientes %}
        
        {% for paciente in pacientes %}
            <table class="table table-active text-center">
                <th scope="col">Nombre:</th>
                <th scope="col">Apellido:</th>
                <th scope="col">DNI N°:</th>
                <th scope="col">Fecha de Nacimiento:</th>
                <th scope="col">Sexo:</th>
                <th scope="col">Localidad:</th>
                <th scope="col">Provincia:</th>
                <tr class="table-success text-center">
                    <td>{{paciente.nombre_paciente}}</td>
                    <td>{{paciente.apellido_paciente}}</td>
                    <td>{{paciente.id_dni}}</td>
                    <td>{{paciente.fecha_nacimiento|date:"d/m/Y"}}</td>
                    <td>{{paciente.sexo_paciente}}</td>
                    <td>{{paciente.id_localidad.localidad}}</td>
                    <td>{{paciente.id_localidad.provincia}}</td>
                </tr>
            </table>
        {% endfor %}       
    {% else %}

            <h3>No Se Encontro Paciente</h3>
    {% endif %}
</div>


{% endblock %}