{% extends 'AppSalud/base.html' %}

{% load static %}

{% block title %}
    Contacto
{% endblock title %}

{% block codigoDinamico %}
<scipt>
    {% if messages %}
        {% for message in messages %}
            {% if messsages.tags == 'success' %}
                toastr.success('{{message}}');
            {% elif message.tags == 'error' %}
                toastr.error('{{message}}');
            {% endif %}
        {% endfor %}
    {% endif %}
</script>

{% url 'listar_mensajes' %}
{% endblock %}